name: restaurants-api-cd

on: 
  push:
    branches: 
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4 # تحديث للإصدار المستقر
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Publish
        # قمنا بتغيير المسار لمجلد مؤقت لضمان نظافة الملفات
        run: dotnet publish ./Restaurants.API/Restaurants.API.csproj -o ./publish_output --no-build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4 # v4 هي الأحدث حالياً ومستقرة
        with:
          name: api-artifact
          path: ./publish_output

  deploy-dev:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Download a Build Artifact
          uses: actions/download-artifact@v4
          with:
            name: api-artifact
            path: ./web_package # تنزيل الملفات في مجلد محدد

        - name: Azure WebApp
          uses: Azure/webapps-deploy@v3
          with:
            app-name: 'MoRestaurants-api-dev'
            publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
            package: ./web_package # تحديد المجلد الذي يحتوي على الملفات المنشورة
