name: restaurants-api-cd

on: 
  push:
    branches: 
    - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          # Optional SDK version(s) to use. If not provided, will install global.json version when available.
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Publish
        run: dotnet publish ./Restaurants.API/Restaurants.API.csproj -o ${{env.DOTNET_ROOT}}/api --no-build
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          # Artifact name
          name: api-artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{env.DOTNET_ROOT}}/api

  deploy-dev:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Download a Build Artifact
          uses: actions/download-artifact@v7.0.0
          with:
            # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
            name: api-artifact

        - name: Azure WebApp
          uses: Azure/webapps-deploy@v3
          with:
            # Name of the Azure Web App
            app-name: MoRestaurants-api-dev
            # Applies to Web Apps(Windows and Linux) and Web App Containers(linux). Multi container scenario not supported. Publish profile (*.publishsettings) file contents with Web Deploy secrets
            publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
